@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Amiri", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-primary: #ffffff;
  --color-accent: #e63946;
  --color-background: #0a0a0a;
}

@layer base {
  body {
    @apply bg-background text-primary overflow-x-hidden;
    cursor: none; /* Hide default cursor for custom cursor */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
